{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% block body %}


<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Programs</h2>
      <p>Our Programs</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Corporate Membership</h3>
            </a>
            <p>Don’t have time to go to the gym? We get the gym to you. Health Hub India offers corporate membership programs tailored for companies looking to promote employee wellness and fitness.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Personal Training</h3>
            </a>
            <p>Health Hub India is known for the competent personal trainers and extraordinary personal training offered by them. The individuals seeking for serious goal-oriented fitness, personalized guidance, motivation, and specialized workout plans, Health Hub India personal training program is for them.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Group Program</h3>
            </a>
            <p>Health Hub India provides a variety of group fitness programs such as dance fitness, yoga, HIIT, and much more tailored to cater to diverse fitness preferences and goals. These group programs offer a supportive environment and a sense of community while engaging participants in fun and effective workouts.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>HHFI Short Course - Sports Injuries</h3>
            </a>
            <p>An added knowledge on sports injury management gives you an auxiliary advantage over other trainers and coaches. You will be an ideal choice at any institution due to your high-level skills for clients with existing injuries who want to get back on track with a fitness program.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>HHFI Short Course - Female Fitness</h3>
            </a>
            <p>Understanding female anatomy and physiology and being able to design a program for women with special conditions will definitely help you excel in your career as a 360 degree skilled trainer. As more and more females are opting for physical transformation, it’s the need of an hour to find better trainers who specialize in Female Fitness.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-chat-square-text"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>ACE Certification</h3>
            </a>
            <p>Set yourself apart and fast track your career by pairing an
              ACE Certification with an in-demand Specialist Program,
              plus additional career-starter courses.</p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>



{% endblock body %}